VITE_SUPABASE_URL=https://tyksrvynnikwgqzrclkm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5a3Nydnlubmlrd2dxenJjbGttIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTEwODAxODksImV4cCI6MTk2NjY1NjE4OX0.Z8_rMHHoCJJU1KFy9qvv9j44WR17CnJtK7-mXbqc0pY